{% extends "gallery/base.html" %}
{% block title %}TIMA PHOTOS - Home{% endblock %}
{% block menu %}
<nav class="navbar navbar-expand d-md-none">
    <div class="container justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link py-0">HOME</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'stocks' %}" class="nav-link py-0">STOCKS</a>
        </li>
    </ul>
    </div>
</nav>
<nav class="navbar d-none d-md-block">
        <ul class="navbar-nav text-md-start">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link py-0">HOME</a>
        </li>    
        <li class="nav-item">
            <a href="{% url 'stocks' %}" class="nav-link py-0">STOCKS</a>
        </li>    
    </ul>
</nav>
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGenreToggler" aria-controls="navbarGenreToggler" aria-expanded="false" aria-label="Navbar toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarGenreToggler">
            <ul class="navbar-nav flex-column text-md-start">    
            {% for g in genre %}
                <li class="nav-item">
                    <a href="{% url 'genre_menu' g.genre|slugify %}/" class="nav-link py-0">{{g.genre}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block img %}
{% load static %}
    <div class="row h-100">
        <h3>Page not found</h3>
        <img src="{% static 'tmphotosproject/img/error404.svg' %}" class="img-fluid" alt="404 error"> 
    </div>
{%endblock %}
