{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block description %}TIMA PHOTOS{% endblock %}">
    <!--<link href="{% static 'tmphotosproject/bootstrap.min.css' %}" rel="stylesheet">-->
    <link href="{% static 'tmphotosproject/custom.css' %}" rel="stylesheet">
    <link href="{% static 'tmphotosproject/animstyle.css' %}" rel="stylesheet">
    <script src="{% static 'tmphotosproject/jquery-3.6.3.min.js' %}"></script>    
    <script src="{% static 'tmphotosproject/bootstrap.min.js' %}"></script>    
    <link rel="icon" href="{% static 'tmphotosproject/img/favicon.svg' %}" type="image/svg">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109745137-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109745137-1');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(69607495, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/69607495" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <title>{% block title %}TIMA PHOTOS{% endblock %}</title>
</head>
<body class="bg-light">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-2">
                <div class="my-2 text-md-start"><h3 class="title text-secondary">TIMA PHOTOS</h3></div>
                {% block menu %}{% endblock %}               
            </div>
            <div class="col-md-10 mt-2">{% block img %}{% endblock %}</div>
        </div> 
    </div>
    <script type="text/javascript">
        function sendStar (el) { 
            $.ajax({
                type:'POST',
                url:'{% url "save_star" %}',
                data:
                {
                    star: el.id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(){
                    console.log("Success:"+el.id);
                    $("#"+el.id).children('svg').addClass("bounce2");
                },
                error: function(xhr, errmsg, err) {
                    console.log("Status: " + xhr.status + "ERROR:" + xhr.error + " " + errmsg + " " + err); 
                },                            
            });

        }
    </script>
</body>
</html>