{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The photo manager of TIMA PHOTOS">
    <link href="{% static 'tmphotosproject/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'tmphotosproject/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'tmphotosproject/img/favicon.svg' %}" type="image/svg">
    <title>{% block title %}TIMA PHOTOS{% endblock %}</title>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="my-2"><h3 class="title">TIMA PHOTOS</h3></div>
                {% block menu %}{% endblock %}
                <div class="card mt-5">{% block main %}{% endblock %}</div>
            </div>
            <div class="col-md-10 mt-2">{% block img %}{% endblock %}</div>
        </div>       
    </div>
</body>
</html>