{% extends "gallery/base.html" %}
{% block description %}TIMA PHOTOS - Genre:{{genre_active|capfirst}}{% endblock %}
{% block title %} {{genre_active|upper}} | TIMA PHOTOS{% endblock %}
{% block menu %}
<nav class="navbar navbar-expand d-md-none">
    <div class="container justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link py-0">HOME</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'stocks' %}" class="nav-link py-0">STOCKS</a>
        </li>
    </ul>
    </div>
</nav>
<nav class="navbar d-none d-md-block">
        <ul class="navbar-nav text-md-start">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link py-0">HOME</a>
        </li>    
        <li class="nav-item">
            <a href="{% url 'stocks' %}" class="nav-link py-0">STOCKS</a>
        </li>    
    </ul>
</nav>
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGenreToggler" aria-controls="navbarGenreToggler" aria-expanded="false" aria-label="Navbar toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarGenreToggler">
            <ul class="navbar-nav flex-column text-md-start">    
            {% for g in genre %}
                <li class="nav-item">
                    {% if g.genre|slugify == genre_active %}
                        <a href="{% url 'genre_menu' g.genre|slugify %}/" class="nav-link py-0 active" aria-current="page">{{g.genre}}</a>
                    {% else %}
                        <a href="{% url 'genre_menu' g.genre|slugify %}/" class="nav-link py-0">{{g.genre}}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block img %}
{% if page_obj %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gy-4">
    {% for p in page_obj %}
        <div class="col">
            <a href="{% url 'genre_image' genre_active p.url %}">
                <img src="{% url 'image_tmb_url' p.url_min %}" class="img-fluid rounded" alt="{{p.title}}"> 
            </a>
        </div>
    {% endfor %}
</div>
{% if page_obj.paginator.num_pages > 1 %}
<div class="row mt-4">
    <div class="col-12 d-flex justify-content-end">
        <div class="pagination">
            <span class="step-links">
                <a href="?page=1" class="link-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                </svg></a>

                <span class="text-secondary"> 
                    {% if page_obj.number|add:'-2' > 1 %}
                        <a class="link-secondary link-underline link-underline-opacity-0" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a>
                    {% endif %}
                    {% for ppg in page_obj.paginator.page_range %}
                    {% if ppg == page_obj.number %}
                        <strong><a class="link-secondary link-underline link-underline-opacity-0" href="?page={{ppg}}">{{ ppg }}</a></strong>
                    {% elif ppg > page_obj.number|add:'-3' and ppg < page_obj.number|add:'3' %}
                        <a class="link-secondary link-underline link-underline-opacity-0" href="?page={{ppg}}">{{ ppg }}</a>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                        <a class="link-secondary link-underline link-underline-opacity-0" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a>
                    {% endif %}
                </span>
    
                <a href="?page={{ page_obj.paginator.num_pages }}" class="link-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg></a>
            </span>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{%endblock %}
