{% extends "gallery/base.html" %}
{% block title %}TIMA PHOTOS - Home{% endblock %}
{% block menu %}
<div class="list-group list-group-flush">
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light menu-active">HOME</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">STOCKS</a>
</div>
<div class="list-group list-group-flush my-3">
    {% for g in genre %}
        <a href="#" class="list-group-item list-group-item-action list-group-item-light ps-5">{{g.genre}}</a>
    {% endfor %}
</div>
{% endblock %}
{% block main %}<div class="card-body">
    <h5 class="card-title">{{rnd_photo.title}}</h5>
{% if rnd_photo.place %}<h6 class="card-subtitle">{{rnd_photo.place}}</h6>{% endif %}
<p class="card-text">{% for k in rnd_photo.keywords.all %}#{{k}}, {% endfor %}</p>
</div>{% endblock %}
{% block img %}<img src="{% url 'image_url' rnd_photo.url %}" class="img-fluid" alt="{{rnd_photo.title}}"> {%endblock %}
