<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tima Photos</title>
</head>
<body>
	<form action="" method="post">
		{% csrf_token %}  
		Title: <input type="text" name="photo_title" size="120"> Place: <input type="text" name="photo_title" size="80">
		Keywords: <textarea name="keywords" cols="200" rows="3"></textarea>
		Genre: <select name="genre" multiple size="3">
			{% for genre in genre_list %}
				<option value="{{genre.pk}}">{{genre.genre}}</option>
			{% endfor %}
		</select>
	</form>
</body>
</html>