{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The photo manager of TIMA PHOTOS">
    <link href="{% static 'tmphotoproject/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'tmphotoproject/img/favicon.svg' %}" type="image/svg">
    <title>{% block title %}The photo manager of TIMA PHOTOS{% endblock %}</title>
</head>
<body class="bg-light">
    <div class="container py-5 text-center"><div class="w-75">
        <h1>{% block h1 %}Утилиты API CDNNOW{% endblock %}</h1>
        <div class="py-3">
            {% if messages %}
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>
        {% block form_content %}
        <div class="py-3">Утилиты API CDNNOW</div>
        {% endblock %}
        {% block back %}{% endblock %}
        <div class="p-5"><div class="card"><div class="card-body text-start">
            {% block description %}{% endblock %}
        </div></div></div>
    </div></div>
</body>
</html>