<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tima Photos</title>
</head>
<body>
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
		{% endfor %}
	</div>
	{% endif %}	
	<form action="{% url 'add_photo' %}" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>Thumbnail</td><td>Hi resolution</td>
			</tr>
			<tr>
				<td><img src="{{src_min.url}}" height="{{photo_height}}" width="{{photo_width}}"></td>
				<td><img src="{{src.url}}" height="{{photo_height}}" width="{{photo_width}}"></td>
			</tr>
			<tr>
				<td>Title: <input type="text" name="photo_title" size="80" value="{{title}}"></td>
				<td>Place: <input type="text" name="photo_place" size="40" value="{{place}}"></td>
			</tr>
			<tr>
				<td colspan="2">
					Keywords:
					{% for kw in photo_keywords_row %}
						<span>{{kw.keyword__keyword}}<input name="kw-{{kw.keyword__id}}" type="checkbox"></span>
					{% endfor %}
					<div>
						<textarea name="add_keywords" cols="50" rows="1"></textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					Genre: {{photo_genre_row}}<select name="genre" multiple size="2">
						{% for genre in genre_list %}
							<option value="{{genre.pk}}" {% if genre.id in photo_genre_row %} selected {% endif %}>{{genre.genre}}</option>
						{% endfor %}
					</select>			
				</td>
				<td>
					Stars: <select name="stars">
						{% for star in star_list %}
							<option value="{{star}}" {% if star == photo_star %} selected {% endif %}>
								{{star}}
							</option>
						{% endfor %}
					</select>			
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Submit">					
				</td>
			</tr>
	</form>
</body>
</html>