<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tima Photos</title>
</head>
<body>
    {% if photo_list %}
        <table>
        <tr>
            <th>Thumbnail</th><th>title</th><th>stars</th><th>edit</th><th>remove</th>
        </tr>
	    {% for photo in photo_list %}
        <tr>
		<td><img src="{{photo.src_min.url}}"></td><td>{{photo.title}}</td>
        <td>{{photo.star}}</td>
        <td><a href="{% url 'edit_photo' photo.id %}">edit</a></td>
        <td><a href="{% url 'remove_photo' photo.id %}">remove</a></td>
        </tr>
		{% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}        
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>        
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}        
    {% endif %}
	<a href="{% url 'add_photo' %}">Add new photo</a>
</body>
</html>