{% extends "managephotos/base.html" %}
{% block main %}
    {% if photo_list %}
        <table class="table">
        <tr>
            <th>Thumbnail</th><th>Title</th><th>Stars</th><th>Edit</th><th>Remove</th>
        </tr>
	    {% for photo in photo_list %}
        <tr>
		<td><img src="{{photo.src_min.url}}"></td><td>{{photo.title}}</td>
        <td>{{photo.star}}</td>
        <td><a class="btn btn-warning" href="{% url 'edit_photo' photo.id %}" role="button">EDIT</a></td>
        <td><a class="btn btn-danger" href="{% url 'remove_photo' photo.id %}" role="button">REMOVE</a></td>
        </tr>
		{% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}        
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>        
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}        
    {% endif %}
	<a class="btn btn-outline-primary href="{% url 'add_photo' %}" role="button">Add new photo</a>
{% endblock %}