<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tima Photos</title>
</head>
<body>
    {% if photo_list %}
        <table>
        <tr>
            <th>Thumbnail</th><th>title</th><th>stars</th><th>edit</th><th>remove</th>
        </tr>
	    {% for photo in photo_list %}
        <tr>
		<td><img src="../media/{{photo.1}}"></td><td>{{photo.2}}</td><td>{{photo.3}}</td>
        <td><a href="{% url 'edit_photo' photo.0 %}">edit</a></td>
        <td><a href="{% url 'remove_photo' photo.0 %}">remove</a></td>
        </tr>
		{% endfor %}
        </table>
    {% endif %}
	<a href="{% url 'upload_photo' %}">Add new photo</a>
</body>
</html>