{% extends "managephotos/base.html" %}
{% block main %}
	<h2 class="text-secondary-emphasis">Add new photo</h2>
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
		{% endfor %}
	</div>
	{% endif %}	
	<form action="{% url 'add_photo' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}  
		<table class="table">{{photo_form.as_table}}
		{{keywords_form.as_table}}</table>
		<input type="submit" value="Add new photo" class="btn btn-outline-primary">
	</form>
{% endblock %}